<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">

      <!-- header section -->

      <div>
        <h1>
          Led Resistance Calculator
        </h1>
      </div>

      <!-- input section -->

      <form>
        <div class="form-group">
          <label for="powerSupply">Power supply (V+):</label>
          <input [(ngModel)]="powerSupply" id="powerSupply" class="form-control" placeholder="3 - 24" name="powerSupply">
        </div>
        <div class="form-group">
          <label for="ledPowerDrop">Led power drop (V):</label>
          <input [(ngModel)]="ledPowerDrop" id="ledPowerDrop" class="form-control" placeholder="1.6 - 4" name="ledPowerDrop">
        </div>
        <div class="form-group">
          <label for="ledCurrent">Led current (mA/Uf):</label>
          <input [(ngModel)]="ledCurrent" id="ledCurrent" class="form-control" placeholder="2 - 70" name="ledCurrent">
        </div>
        <div class="form-group">
          <label for="numberOfLeds">Number of LEDs:</label>
          <input [(ngModel)]="numberOfLeds" id="numberOfLeds" class="form-control" placeholder="1 - 99" name="numberOfLeds">
        </div>

        <div class="form-group">
          <b>Circuit: </b>
          <label class="radio-inline">
            <input [(ngModel)]="circuit" value="serie" type="radio" id="radioSerie" name="circuit">Serie
          </label>
          <label class="radio-inline">
            <input [(ngModel)]="circuit" value="parallel" type="radio" id="radioParallel" name="circuit">Parallel
          </label>
        </div>
        <div *ngIf="message" class="alert-warning form-group">
          <strong>Warning! </strong>{{message}}
        </div>
      </form>
      <form class="form-inline">
        <div class="form-group">
          <button class="btn btn-primary btn-lg" (click)="valueCheck()">Calculate</button>
          <button class="btn btn-primary btn-lg" (click)="clearInput()">Clear</button>
        </div>
      </form>
      <br>

      <!-- output section -->

      <form>
        <div class="form-group">
          <h4>
            <label>Calculated resistance: {{calcValue}}
              <span *ngIf="calcValue">&#8486;</span>
            </label>
          </h4>
        </div>
        <div class="form-group">
          <h4>
            <label>Needed resistor: {{resistor}}
              <span *ngIf="resistor">&#8486;</span>
            </label>
          </h4>
        </div>
      </form>

      <!-- colour code section -->

      <form class="form-inline">
        <div class="form-group">
          <label>Colour 1:<div id="colour1" class="colourLabel"></div>{{colour1}}</label>
        </div>
        <div class="form-group">
          <label>Colour 2:<div id="colour2" class="colourLabel"></div>{{colour2}}</label>
        </div>
        <div class="form-group">
          <label>Colour 3:<div id="colour3" class="colourLabel"></div>{{colour3}}</label>
        </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
</div>