<!-- temp example code -->

<!-- <label *ngIf="titel != 'Muziekstuk Info'" class="button" id="pauseMusic">Pause
  <input type="button" (click)="pauseMusic()" style="display:none" />
</label> -->

<!-- <input [(ngModel)]="bladmuziekInvoer.titel" placeholder="Titel">
<input [(ngModel)]="bladmuziekInvoer.artiest" placeholder="Artiest">
<input [(ngModel)]="bladmuziekInvoer.omschrijving" placeholder="Omschrijving">
<input [(ngModel)]="bladmuziekInvoer.lesonderdeel" placeholder="Lesonderdeel">
<button (click)="postBladmuziek()">Post Bladmuziek</button> -->

<!-- header section -->

<div style="text-align:center">
  <h1>
    Led Resistance Calculator
  </h1>
</div>

<!-- input section -->

<div>
  <ul>
    <li>
      <label id="powerSupply">Power supply (V+):
        <input [(ngModel)]="powerSupply" placeholder="3 - 24">
        <div *ngIf="show"><p>{{powerSupplyMessage}}</p></div>
      </label>
    </li>
    <li>
      <label id="ledPowerDrop">Led power drop (V):
        <input [(ngModel)]="ledPowerDrop" placeholder="1.6 - 4">
        <div *ngIf="show"><p>{{ledPowerDropMessage}}</p></div>
      </label>
    </li>
    <li>
      <label id="ledCurrent">Led current (mA/Uf):
        <input [(ngModel)]="ledCurrent" placeholder="2 - 70">
        <div *ngIf="show"><p>{{ledCurrentMessage}}</p></div>
      </label>
    </li>
    <li>
      <label id="numberOfLeds">Number of LEDs:
        <input [(ngModel)]="numberOfLeds" placeholder="1 - 99">
        <div *ngIf="show"><p>{{numberOfLedsMessage}}</p></div>
      </label>
    </li>
  </ul>
</div>

<div>
  <label class="radio">Serie
    <input type="radio" id="Serie">
  </label>
  <label class="radio">Parallel
    <input type="radio" id="Parallel">
  </label>
</div>

<div>
  <button (click)="calculate()">Calculate</button>
</div>

<!-- output section -->

<div>
    <ul>
      <li>Calculated resistance</li>
      <li>Needed resistor</li>
    </ul>
</div>

<!-- colour code section -->

Colour code

<!-- clear button -->

<div>
    <button>Clear</button>
</div>