<div style="text-align:center">
  <h1>
    Led Resistance Calculator
  </h1>
</div>

<!-- input section -->

<div>
  <ul>
    <li>
      <label id="powerSupply">Power supply (V+):
        <input type="text">
      </label>
    </li>
    <li>
      <label id="ledPowerDrop">Led power drop (V):
        <input type="text">
      </label>
    </li>
    <li>
      <label id="ledCurrent">Led current (mA/Uf):
        <input type="text">
      </label>
    </li>
    <li>
      <label id="numberOfLeds">Number of LEDs:
        <input type="text">
      </label>
    </li>
  </ul>
</div>

<div>
  <label class="radio">Serie
    <input type="radio" id="Serie">
  </label>
  <label class="radio">Parallel
    <input type="radio" id="Parallel">
  </label>
</div>

<div>
  <button>Calculate</button>
</div>

<!-- output section -->

<div>
    <ul>
      <li>Calculated resistance</li>
      <li>Needed resistor</li>
    </ul>
</div>

<!-- example -->

<!-- <label *ngIf="titel != 'Muziekstuk Info'" class="button" id="pauseMusic">Pause
  <input type="button" (click)="pauseMusic()" style="display:none" />
</label> -->